<!doctype html>
<html
  lang="{{ or site.Language.Locale site.Language.Lang }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header class="header wide" data-theme="dark">
      {{ partial "header-wide.html" . }}
    </header>
    <header class="header" data-theme="dark">
      {{ partial "header.html" . }}
    </header>
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    <footer data-theme="dark">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
