{{- define "main" }}
{{- partial "main.html" . }}
<hr>
<div class="text-center">
  <h2>Recent News</h2>
</div>
<div class="grid featured">
  {{- range first 6 (where .Site.Pages "Section" "news") }}
  <article>
    <header>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </header>
    <p>{{ .Summary | plainify | truncate 150 }}</p>
    <footer>
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{- $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </footer>
  </article>
  {{- end }}
</div>
<div class="text-right">
  <strong><a href="/news">Read More Recent News</a></strong>
</div>
{{- end -}}
