{{- if .Inner }}{{ end -}}
{{- $group := printf "tabs-%d" .Ordinal -}}

<div class="tabs">
{{- range $index, $tab := .Scratch.Get $group -}}
  <input
      class="toggle"
      name="{{ $group }}"
      tabindex="1"
      type="radio"
      id="{{ printf "%s-%d" $group $index }}"
      {{ if not $index }}checked="checked"{{ end }}/>
  <label for="{{ printf "%s-%d" $group $index }}">
    {{- $tab.Name -}}
  </label>
  <div class="tab-content" tabindex="1">
    {{- .Content | safeHTML -}}
  </div>
{{- end -}}
</div>
