{{/* Shortcode renders a set of tabs using input and label manipulation through CSS.
Tab takes a variable to be able to name the tab.

  {{% tabs %}}
    {{% tab "tab one" %}}
    # tab one title
    tab one content
    {{% /tab %}}
  {{% /tabs %}}

*/}}

{{- if .Inner }}{{ end -}}
{{- $group := printf "tabs-%d" .Ordinal -}}

<div class="tabs">
{{- range $index, $tab := .Scratch.Get $group -}}
  <input
      class="toggle"
      name="{{ $group }}"
      tabindex="0"
      type="radio"
      id="{{ printf "%s-%d" $group $index }}"
      {{ if not $index }}checked="checked"{{ end }}/>
  <label for="{{ printf "%s-%d" $group $index }}">
    {{- $tab.Name -}}
  </label>
  <div class="tab-content" tabindex="0">
    {{- .Content | safeHTML -}}
  </div>
{{- end -}}
</div>
